<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.example.jerry.user.domain.UserVo" alias="UserVo" />
        <typeAlias type="com.example.jerry.user.domain.QuestionVo" alias="QuestionVo" />
        <typeAlias type="com.example.jerry.board.domain.BoardVo" alias="BoardVo" />
        <typeAlias type="com.example.jerry.board.domain.CategoryVo" alias="CategoryVo" />
        <typeAlias type="com.example.jerry.board.domain.ViewPageVo" alias="ViewPageVo" />
        <typeAlias type="com.example.jerry.bookmark.domain.BookMarkVo" alias="BookMarkVo" />
        <typeAlias type="com.example.jerry.board.domain.SearchCategoryVo" alias="SearchCategoryVo" />
    </typeAliases>

</configuration>