<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.comment.CommentSQLMapper">
    <!-- 댓글 목록 -->
    <select id="getCommentList" resultType="CommentVo">
        select *
        from jerry_board_comment
        where board_no = #{board_no}
    </select>

    <!-- 댓글 총 갯수 -->
    <select id="getTotalCommentCount" resultType="int">
        select count(*)
        from jerry_board_comment
        where board_no = #{board_no}
    </select>

    <!-- 댓글 작성 -->
    <insert id="writeComment">
        insert into jerry_board_comment (comment_no, board_no, user_no, comment_content)
        values (JERRY_BOARD_COMMENT_SEQ.nextval, #{board_no}, #{user_no}, #{comment_content})
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        update jerry_board_comment
        set comment_content = #{comment_content}
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        delete
        from jerry_board_comment
        where comment_no = #{comment_no}
    </delete>

    <!-- 댓글 전체 삭제-->
    <delete id="deleteAllComment">
        delete
        from jerry_board_comment
        where board_no = #{boardNo}
    </delete>

</mapper>