<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.board.BoardSQLMapper">

    <select id="createBoardPk" resultType="int">
        SELECT jerry_board_seq.nextval FROM Dual
    </select>

    <!-- 게시글 목록 -->
    <select id="getBoardList" resultType="BoardVo">

        select t2.* from(select t1.*, rownum as pageNum from (select eb.* from jerry_board eb, jerry_user eu where
        eb.user_no = eu.user_no
        <if test="search_category_no != 0">
            <choose>
                <!-- 게시글 제목 검색 -->
                <when test="search_category_no == 1">
                    and eb.board_title like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 내용 검색 -->
                <when test="search_category_no == 2">
                    and eb.board_content like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 작성자 검색 -->
                <when test="search_category_no == 3">
                    and eu.user_nickname like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 제목 + 내용 검색 -->
                <when test="search_category_no == 4">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%')
                </when>

                <!-- 게시글 작성자 + 내용 검색 -->
                <when test="search_category_no == 5">
                    and (eu.user_nickname like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} ||
                    '%')
                </when>

                <!-- 게시글 전체 검색 -->
                <when test="search_category_no == 6">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%'
                    or eu.user_nickname like '%' || #{keyword} || '%')
                </when>

            </choose>
        </if>
        ) t1
        ) t2
        <![CDATA[
		WHERE t2.pageNum >= (#{pageNum} - 1) * 10 + 1
		AND t2.pageNum <= #{pageNum} * 10
		]]>

    </select>

    <!-- 게시글 목록 (카테고리별 정렬) -->
    <select id="getBoardByCategoryList" resultType="BoardVo">
        select t2.* from(select t1.*, rownum as pageNum from (select eb.* from jerry_board eb, jerry_user eu where
        eb.user_no = eu.user_no and eb.category_no = #{category_no}
        <if test="search_category_no != 0">
            <choose>
                <!-- 게시글 제목 검색 -->
                <when test="search_category_no == 1">
                    and eb.board_title like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 내용 검색 -->
                <when test="search_category_no == 2">
                    and eb.board_content like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 작성자 검색 -->
                <when test="search_category_no == 3">
                    and eu.user_nickname like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 제목 + 내용 검색 -->
                <when test="search_category_no == 4">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%')
                </when>

                <!-- 게시글 작성자 + 내용 검색 -->
                <when test="search_category_no == 5">
                    and (eu.user_nickname like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} ||
                    '%')
                </when>

                <!-- 게시글 전체 검색 -->
                <when test="search_category_no == 6">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%'
                    or eu.user_nickname like '%' || #{keyword} || '%')
                </when>

            </choose>
        </if>
        ) t1
        ) t2
        <![CDATA[
		WHERE t2.pageNum >= (#{pageNum} - 1) * 10 + 1
		AND t2.pageNum <= #{pageNum} * 10
		]]>
    </select>
    <!-- 카테고리 정보 -->
    <select id="getCategoryByNo" resultType="CategoryVo">
        select * from jerry_board_category where category_no = #{category_no}
    </select>

    <!-- 카테고리 목록 -->
    <select id="getCategoryList" resultType="CategoryVo">
        select * from jerry_board_category
    </select>

    <!-- 게시글 작성 -->
    <insert id="insertWrite">
        insert into jerry_board (board_no, user_no, category_no, board_title, board_content)
        values (
                   #{board_no},
                   #{user_no},
                   #{category_no},
                   #{board_title},
                   #{board_content}
               )
    </insert>

    <!-- 게시글 상세보기 -->
    <!-- 게시글 상세보기 페이지 -->
    <select id="getBoardByNo" resultType="BoardVo">
        select *
        from jerry_board
        where board_no = #{board_no}
    </select>

    <!-- 게시글 조회수 중복 증가 방지 -->
    <insert id="insertViewPage">
        insert into jerry_view_page (view_page_no, board_no, lockup_ip)
        values (jerry_view_page_seq.nextval,
                #{board_no},
                #{lockup_ip})
    </insert>

    <!-- 게시글 조회수 중복 증가 방지 조회 -->
    <select id="getViewPageList" resultType="ViewPageVo">
        select * from jerry_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회한 아이피 -->
    <select id="selectByLockupIp" resultType="int">
        select count(*) from jerry_view_page where lockup_ip = #{lockup_ip}
    </select>

    <!-- 게시글 조회수 중복 증가 (게시글 조회) -->
    <select id="selectByViewByBoardNo" resultType="int">
        select count(*) from jerry_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회수 중복 증가 (게시글, 아이피 조회) -->
    <select id="selectByViewPage" resultType="int">
        select count(*) from jerry_view_page where lockup_ip = #{lockup_ip} and board_no =#{board_no}
    </select>

    <!-- 게시글 조회수 증가 -->
    <update id="increaseReadCount">
        update jerry_board set board_view_count = board_view_count + 1 where board_no = #{boardNo}
    </update>

    <update id="updateViewPage">
        update jerry_view_page set view_inquiry_time = sysdate where lockup_ip = #{lockup_ip} and board_no = #{board_no}
    </update>

    <!-- 게시글 조회수 중복 증가 방지 삭제 -->
    <delete id="deleteViewPage">
        delete from jerry_view_page where board_no = #{boardNo}
    </delete>

    <!-- 게시글 수정 -->
    <update id="modifyBoard">
        update jerry_board set category_no = #{category_no}, board_title = #{board_title}, board_content = #{board_content} where board_no = #{board_no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deletePosting">
        delete from jerry_board where board_no = #{boardNo}
    </delete>

    <!-- 게시글 좋아요 -->
    <insert id="doLike">
        insert into jerry_board_like (like_no, user_no, board_no)
        values (jerry_board_like_seq.nextval,
                #{user_no},
                #{board_no})
    </insert>

    <!-- 게시글 좋아요 상태 확인 -->
    <select id="getMyLikeCount" resultType="int">
        select count(*) from jerry_board_like where board_no = #{board_no} and user_no = #{user_no}
    </select>

    <!-- 게시글 좋아요 취소 -->
    <delete id="deleteLike">
        delete from jerry_board_like where board_no = #{board_no} and user_no = #{user_no}
    </delete>

    <!-- 게시글 좋아요 총 갯수 -->
    <select id="getTotalLikeCount" resultType="int">
        select count(*) from jerry_board_like where board_no = #{board_no}
    </select>

    <!-- 게시글 검색 카테고리 목록 -->
    <select id="getBoardSearchCategoryList" resultType="SearchCategoryVo">
        select * from jerry_board_search_category
    </select>

    <!-- 게시글 총 갯수 -->
    <select id="getBoardCount" resultType="int">
        select count(*) FROM jerry_board eb , jerry_user eu
        where eb.user_no = eu.user_no
        <if test="category_no != 0">
            and eb.category_no = #{category_no}
        </if>
        <if test="search_category_no != 0">
            <choose>
                <!-- 게시글 제목 검색 -->
                <when test="search_category_no == 1">
                    and eb.board_title like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 내용 검색 -->
                <when test="search_category_no == 2">
                    and eb.board_content like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 작성자 검색 -->
                <when test="search_category_no == 3">
                    and eu.user_nickname like '%' || #{keyword} || '%'
                </when>

                <!-- 게시글 제목 + 내용 검색 -->
                <when test="search_category_no == 4">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%')
                </when>

                <!-- 게시글 작성자 + 내용 검색 -->
                <when test="search_category_no == 5">
                    and (eu.user_nickname like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%')
                </when>

                <!-- 게시글 전체 검색 -->
                <when test="search_category_no == 6">
                    and (eb.board_title like '%' || #{keyword} || '%' or eb.board_content like '%' || #{keyword} || '%'
                    or eu.user_nickname like '%' || #{keyword} || '%')
                </when>

            </choose>
        </if>
    </select>

    <!-- 내가 작성한 글 목록 -->
    <select id="getMyPostList" resultType="BoardVo">
        select * from jerry_board where user_no = #{user_no}
    </select>

    <insert id="insertFile">
        INSERT INTO jerry_file VALUES (
                                           jerry_file_seq.nextval,
                                           #{board_no},
                                           #{org_file_name},
                                           #{stored_file_name},
                                           #{file_size},
                                           SYSDATE,
                                           'N'
                                       )
    </insert>


</mapper>