<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.board.BoardSQLMapper">

    <!-- 게시글 목록 -->
    <select id="getBoardList" resultType="BoardVo">
        select * from jerry_board
    </select>

    <select id="getBoardByCategoryList" resultType="BoardVo">
        select * from jerry_board where category_no = #{category_no}
    </select>

    <!-- 카테고리 정보 -->
    <select id="getCategoryByNo" resultType="CategoryVo">
        select * from jerry_board_category where category_no = #{category_no}
    </select>

    <!-- 카테고리 목록 -->
    <select id="getCategoryList" resultType="CategoryVo">
        select * from jerry_board_category
    </select>

    <!-- 게시글 작성 -->
    <insert id="insertWrite">
        insert into jerry_board (board_no, user_no, category_no, board_title, board_content)
        values (
                   jerry_board_seq.nextval,
                   #{user_no},
                   #{category_no},
                   #{board_title},
                   #{board_content}
               )
    </insert>

    <!-- 게시글 상세보기 -->
    <!-- 게시글 상세보기 페이지 -->
    <select id="getBoardByNo" resultType="BoardVo">
        select *
        from jerry_board
        where board_no = #{board_no}
    </select>

    <!-- 게시글 조회수 중복 증가 방지 -->
    <insert id="insertViewPage">
        insert into jerry_view_page (view_page_no, board_no, lockup_ip)
        values (jerry_view_page_seq.nextval,
                #{board_no},
                #{lockup_ip})
    </insert>

    <!-- 게시글 조회수 중복 증가 방지 조회 -->
    <select id="getViewPageList" resultType="ViewPageVo">
        select * from jerry_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회한 아이피 -->
    <select id="selectByLockupIp" resultType="int">
        select count(*) from jerry_view_page where lockup_ip = #{lockup_ip}
    </select>

    <!-- 게시글 조회수 중복 증가 (게시글 조회) -->
    <select id="selectByViewByBoardNo" resultType="int">
        select count(*) from jerry_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회수 중복 증가 (게시글, 아이피 조회) -->
    <select id="selectByViewPage" resultType="int">
        select count(*) from jerry_view_page where lockup_ip = #{lockup_ip} and board_no =#{board_no}
    </select>

    <!-- 게시글 조회수 증가 -->
    <update id="increaseReadCount">
        update jerry_board set board_view_count = board_view_count + 1 where board_no = #{boardNo}
    </update>

    <update id="updateViewPage">
        update jerry_view_page set view_inquiry_time = sysdate where lockup_ip = #{lockup_ip} and board_no = #{board_no}
    </update>

    <!-- 게시글 조회수 중복 증가 방지 삭제 -->
    <delete id="deleteViewPage">
        delete from jerry_view_page where board_no = #{boardNo}
    </delete>

    <!-- 게시글 삭제 -->
    <delete id="deletePosting">
        delete from jerry_board where board_no = #{boardNo}
    </delete>

</mapper>